<div class="container">
  <div class="jumbotron">


<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h2>Products</h2>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Sports Wear</p>
        </li><ul>
      <li *ngFor='let items of items | async'>
       <h3> {{items.$key}}: {{items.$value}}</h3>
       
      </li>
    </ul>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Select</button>
        </li>
      </ul>
    </div>




    <!--<h1>Products coming soon!</h1>
    <span class="fa fa-spinner fa-pulse fa-5x"></span>-->

    <!-- Display list of products from the database. Constructed in the products.component.ts file-->
    

  </div>
</div>
</div>
